/*.Chat {
  z-index: 1000; 
  resize: both; 
  overflow: auto; 
  border: 5px solid black; 

  background-color: white;
  padding: 10px;
  box-sizing: border-box; 
  min-width: 350px;
  min-height: 120px; 
}
*/
/* Style for the minimize button */
.minimize-button {
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.Chat {
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
