.App-footer {
  height: 100px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: verdana, sans-serif;
  overflow: hidden;
}

.footerLight,
.footerLight a {
  color: black;
}

.footerDark,
.footerDark a {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: gray;
}
