.App-footer {
  background-color: inherit;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: verdana, sans-serif;
  overflow: hidden;
}

#cubes {
  pointer-events: none;
  width: 0vw;
  height: 0vh;
}
#routes-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

#freezer-hbutton:hover {
  box-shadow: 0 0 5px #c0c0c0, 0 0 5px #c0c0c0, 0 0 5px #c0c0c0, 0 0 5px #c0c0c0;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation-name: twinkling;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  z-index: 10;
  mix-blend-mode: difference;
}
/* App.css */
.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none; /* Allows clicks to pass through */
}
