@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 50%;
  animation: twinkling 2s infinite ease-in-out;
  z-index: 0;
}

.star {
  mix-blend-mode: difference;
}
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
