.App {
  /*background-image: linear-gradient(rgb(109, 109, 221), rgb(214, 113, 113));*/
  background-image: linear-gradient(rgb(109, 109, 221), #282c34);

  overflow: hidden;
}
#basic-navbar-nav .me-auto {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Distribute space between items */
}

#chatBtn {
  height: 100px;
  width: 100px;
  padding-top: 5px;
  transition: filter 0.3s ease;
}

#chatBtn:hover {
  box-shadow: 0px 1px #666;
  filter: invert(100%);
}
#header-button {
  display: flex;
  justify-content: space-between;

  align-items: center;
  overflow-y: hidden;
}
.cube-button {
  background-color: black;
  border-radius: 20px;
  border-color: white;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.cube-button:hover {
  filter: invert(100%);
}
#cube-button-container {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#logo {
  width: 140px;
  height: 140px;
  text-decoration: none;
  color: white;
  transition: filter 0.3s ease;
}

#logo:hover {
  filter: invert(30%);
}

#search-box {
  background-color: transparent;
  height: auto;
  width: 50vw;
  text-align: center;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
  border-radius: 20px;
  border: 2px solid black; /* This sets your border color to white explicitly */
}
/* Chrome, Safari, Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

/* Firefox */
input:-moz-autofill {
  background-color: transparent !important;
}

input,
::placeholder {
  color: black;
}
#search-box:focus {
  outline: none;
}

.App-footer {
  background-color: inherit;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: verdana, sans-serif;
  overflow: hidden;
}

#cubes {
  pointer-events: none;
  width: 0vw;
  height: 0vh;
}
#routes-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
#freezer-hbutton {
  font: inherit;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  /*margin: 0 20px 0 20px;*/
  border-color: white;
}

#freezer-hbutton:hover {
  box-shadow: 0 0 5px #c0c0c0, 0 0 5px #c0c0c0, 0 0 5px #c0c0c0, 0 0 5px #c0c0c0;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@keyframes twinkling {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation-name: twinkling;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  z-index: 10;
  mix-blend-mode: difference;
}
/* App.css */
.stars-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  pointer-events: none; /* Allows clicks to pass through */
}
