.App {
  /*background-image: linear-gradient(rgb(109, 109, 221), rgb(214, 113, 113));*/

  font-family: "Space Mono", monospace;
  overflow: hidden;
}

.light {
  background-color: white;
}
.dark {
  background-color: black;
}

/* Chrome, Safari, Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
}

/* Firefox */
input:-moz-autofill {
  background-color: transparent !important;
}

#cubes {
  pointer-events: none;
  width: 0vw;
  height: 0vh;
}
#routes-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
